<%- include('../partials/header') %>
<main class="purchase-confirmation">

    <div class="page">
        <h1>Thank You!</h1>
        <img
            src="/images/couple.svg"
            draggable="false"
        >
        <p>Your game will be visible in your games dashboard.</p>
        <a class="button" href="/my-games">Back to My Games</a>
    </div>

</main>
<%- include('../partials/footer') %>