
@import './global.css';

img {
    width: 80vw;
    max-width: 500px;
}

main {
    gap: 20px;
}

main p {
    width: 80vw;
    text-align: center;
    font-size: 30px;
}

.stripe-alert {
    font-size: 12px;
}
