<%- include('partials/header') %>
<main class="bingo-card-main">

    <div class="page">
        <h1>Bingo Card</h1>
        <p>1. Ask the host to help you register a bingo card.</p>
        <p>2. The host will ask you if you think the baby is a BOY or a GIRL<br>(be ready to answer).</p>
        <p>3. The host will give you an ID.</p>
        <p>Enter the ID below:</p>
        <input
            type="text"
            autocomplete="off"
            maxlength="4"
            id="id-input"
        >
        <p id="id-warning"></p>
        <button id="submit-id-button">Submit ID</button>
    </div>
    
    <script src="/js/playable-card.js" defer type="module"></script>
</main>
<%- include('partials/footer') %>