<%- include('partials/header') %>
<main class="contact-us">

    <div class="page">
        <input
            type="text"
            autocomplete="off"
            maxlength="4"
            id="id-input"
        >
    </div>
    
</main>
<%- include('partials/footer') %>