<%- include('partials/header') %>
<main class="contact-us">

    <div class="page">
        <h1>Contact Us</h1>
        <p>We value your feedback!</p>
        <%- include('svgs/envelope') %>
        <p>Reach out to us at<br>GenderRevealBingoParty@gmail.com</p>
        <a class="button" href="https://mail.google.com/mail/?view=cm&fs=1&tf=cm&to=GenderRevealBingoParty@gmail.com">
            Open in Gmail
        </a>
    </div>
    
</main>
<%- include('partials/footer') %>