<%- include('partials/header') %>
<main class="get-cards">

    <p>To play the game,</p>
    <img
        src="/images/fanned-cards.svg"
        draggable="false"    
    >
    <p>you'll need the cards.</p>
    <a class="button" href="https://buy.stripe.com/7sYaEY6r52521uFcPQ0x200">Proceed to Purchase</a>
    <p class="stripe-alert">Purchases are processed through Stripe.</p>
    <p>$29.99 + tax</p>

</main>
<%- include('partials/footer') %>