<%- include('partials/header') %>
<main class="get-cards">

    <div class="page">
        <h1>Get Cards</h1>
        <p>The game player will not work without the cards.</p>
        <img
            src="/images/fanned-cards.svg"
            draggable="false"
        >
        <p>Downloaded the print file for free!</p>
        <a class="button" href="downloads/gender-reveal-bingo-cards.pdf" download>Download PDF</a>
    </div>

</main>
<%- include('partials/footer') %>