<%- include('partials/header') %>
<main class="index">
    <div id="landing-block">
        <img src="images/logo.svg" draggable="false">
        <p>Throw an <strong>unforgettable</strong><br>gender reveal.</p>
    </div>
    <div class="panel">
        <h2>Why Use Gender Reveal Bingo Party?</h2>
        <img src='/images/announce-girl.svg'>
        <p>Gender Reveal Bingo party puts the power <strong>in the hands of your guests</strong>.</p>
        <p>Instead of watching the gender reveal, you and your guests <strong>compete to reveal the baby's gender</strong>.</p>
    </div>
    <div class="panel">
        <h2>How Does It Work?</h2>
        <div class="dynamic-grid">
            <div class="instruction-card">
                <p class="emoji">🚪</p>
                <p class="title">Guests Arrive</p>
                <p class="details">Guests pick a boy or girl bingo card to guess the baby's gender.</p>
            </div>
            <div class="instruction-card">
                <p class="emoji">💻</p>
                <p class="title">Registration</p>
                <p class="details">Guests register their card with our unique game player.</p>
            </div>
            <div class="instruction-card">
                <p class="emoji">🆚</p>
                <p class="title">The Game Begins!</p>
                <p class="details">Our game player draws numbers at random.</p>
            </div>
            <div class="instruction-card">
                <p class="emoji">⚙</p>
                <p class="title">Behind the Scenes</p>
                <p class="details">The game player guarantees a winner who is correct about the baby's gender.</p>
            </div>
            <div class="instruction-card">
                <p class="emoji">🎉</p>
                <p class="title">Bingo!  It's a...</p>
                <p class="details">The winner shouts "Bingo!" and reveals the baby's gender.</p>
            </div>
            <div class="instruction-card">
                <p class="emoji">▶</p>
                <p class="title">Watch Here</p>
                <p class="details">Watch the video your guests will see.</p>
                <a href="images/intro-video.mp4" class="button">Watch Intro</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <h2>What Do I Need?</h2>
        <p>Only three things are needed to host a gender reveal bingo party.</p>
        <div class="dynamic-grid">
            <div class="instruction-card">
                <p class="emoji">📌</p>
                <p class="title">A Game Session</p>
                <p class="details">Sessions are easy to create and launch.</p>
                <a href="/my-games" class="button">Create a Game</a>
            </div>
            <div class="instruction-card">
                <p class="emoji">📌</p>
                <p class="title">Our Special Cards</p>
                <p class="details">Our bingo player only works with our cards.</p>
                <a href="/get-cards" class="button">Get Cards</a>
            </div>
            <div class="instruction-card">
                <p class="emoji">📌</p>
                <p class="title">TV or Large Screen</p>
                <p class="details">You'll want your guests to see everything in real time.</p>
                <a href="https://amzn.to/4sarfIM" class="button">Shop Amazon</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <h2>More About Us</h2>
        <p>We believe family is something to be celebrated.</p>
        <p>We are a small business founded in Idaho.  When you support Gender Reveal Bingo Party, you support a young couple with dreams of having children of their own.</p>
    </div>
</main>
<%- include('partials/footer') %>