<%- include('../partials/header') %>
<main class="access-error">
    
    <h1>Authorization Error</h1>

    <p>You are not authorized to view this page.</p>
    <p>Click the button below to go back to your game manager.</p>
    <a class="button" href="/my-games">Back to Game Manager</a>

</main>
<%- include('../partials/footer') %>