<%- include('../partials/header') %>
<main>
    

    <form method="POST" action="/login" class="login-form">
        
        <h1>Edit Game</h1>

        <!-- Title field -->
        <div class="form-group">
            <label for="title">Title</label>
            <input
                type="text"
                id="title"
                name="title"
                required
                placeholder="Jack and Jill's Gender Reveal"
            >
        </div>

        <!-- Gender field -->
        <div class="form-group">
            <label for="title">Gender</label>
            <select
                id="gender"
                name="gender"
                required
            >
                <option>BOY</option>
                <option>GIRL</option>
            </select>
        </div>

        <!-- Submit button -->
        <button type="submit">Save Changes</button>

    </form>
</main>
<%- include('../partials/footer') %>